<% include partials/header %>

<div class="container ">

		<!-- Header-->
		<div class="d-flex bd-highlight mb-3">
			<div class="mr-auto p-2">
				<h1>Liste des colis</h1>
			</div>
			<div class="my-auto p-auto mr-5">
				<button type="button" data-toggle="modal" data-target="#newPackage" class="m-auto btn btn-secondary">
					Ajouter un colis
				</button>
			</div>
		</div>

		<!-- EJS template for adding a row -->
		<div class="table-responsive">
			<table class="table table-hover">
				<thead class="bg-secondary text-light">
					<tr>
					  <th scope="col">Id</th>
					  <th scope="col">Nom</th>
					  <th scope="col">Prénom</th>
					  <th scope="col">Email</th>
						<th scope="col">Expéditeur</th>
						<th scope="col">Date</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<% packagesList.forEach(function(package){ %>
							<tr>
									<th scope="row"><%=package.colis_id %></th>
									<td><%=package.last_name %></td>
									<td><%=package.first_name %></td>
									<td><%=package.email %></td>
									<td><%=package.sender %></td>
									<td><%=package.shortDate %></td>
									<td>
										<a href="#" class="badge badge-secondary mr-3 mb-1" data-id="<%=package.colis_id %>" data-email="<%=package.email %>" data-sender="<%=package.sender %>"data-toggle="modal" data-target="#modifyPackage">
											<i class="fas fa-pen text-light editLink"></i>
										</a>
										<a href="#" class="badge badge-secondary" data-id="<%=package.colis_id %>" data-toggle="modal" data-target="#deletePackage">
											<i class="fas fa-trash-alt text-light deleteLink"></i>
										</a>
									</td>
							</tr>
					<%}); %>
				</tbody>
			</table>
		</div>
		
		<!-- Footer-->
		<nav>
			<div class="d-flex align-items-center mb-5">
				<div class="ml-2 float-left">
					<p class="my-auto"><span id="rows_displayed"></span> résultats sur <%= numberOfRows %></p>
				</div>
				<div class="mx-auto">
					<ul class="pagination my-auto" data-number_of_rows="<%=numberOfRows %>">
						<!--Here goes all the pages links-->
					</ul>
				</div>
				<div class="my-auto">
					<select class="custom-select custom-select-sm" id="rows_per_page">
						<option value="5">5</option>
						<option selected value="10">10</option>
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
				</div>
			</div>
		</nav>

		<!-- Modal for adding new package-->
		<div class="modal fade" id="newPackage" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ajouter un colis</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form action="/packages" method="POST">
						<div class="modal-body">
								<div class="form-group">
									<label for="email">Adresse email</label>
									<input type="email" list="studentsData" class="form-control email" id="email" placeholder="prenom.nom@imt-atlantique.net" name="email" autocomplete="off">
								</div>
								<div class="form-group">
									<label for="sender">Expéditeur</label>
									<input type="text" class="form-control" id="ender" name="sender">
								</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						<input type="submit" class="btn btn-secondary" value="Confirmer">
					</div>
				</form>
				</div>
			</div>
		</div>

		<!-- Modal for modifying a package-->
		<div class="modal fade" id="modifyPackage" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modifier le colis</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form action="" method="POST">
						<div class="modal-body">
								<div class="form-group">
									<label for="email">Adresse email</label>
									<input type="email" list="studentsData" class="form-control email" id="email" placeholder="prenom.nom@imt-atlantique.net" name="email" autocomplete="off">
								</div>
								<div class="form-group">
									<label for="sender">Expéditeur</label>
									<input type="text" class="form-control" id="ender" name="sender">
								</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						<input type="submit" class="btn btn-secondary" value="Confirmer">
					</div>
				</form>
				</div>
			</div>
		</div>

		<!-- Modal for deleting a package-->
		<div class="modal fade" id="deletePackage" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Supprimer le colis</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form action="" method="POST">
						<div class="modal-body">
							<p>Êtes-vous sûrs de bien vouloir supprimer ce colis ?</p>
						</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						<input type="submit" class="btn btn-secondary" value="Supprimer">
					</div>
				</form>
				</div>
			</div>
		</div>

	</div>
	<script src="/js/main.js"></script>
<% include partials/footer %>