<% include partials/header %>

<!--Navbar-->
<nav class="navbar fixed-top navbar-dark">
	<div class="container">
		<a class="navbar-brand py-0" href="#">
			<img src="logo3.png" width="56" height="30" alt="">
			<span id="brand">MyCampus</span>
		</a>
		<div class="navbar-nav">		
			<a href="/logout" class="nav-item nav-link">Déconnexion</a>
		</div>
	</div>
</nav>

<div class="container ">

	<!-- Header-->
	<div class="d-flex flex-row justify-content-between mb-n3">
		<div class="">
			<h1>Liste des colis</h1>
		</div>
		<div class="d-flex flex-row justify-content-between">
			<div class="my-auto mr-1">
				<a href="/packages.pdf" class="m-auto btn btn-sm btn-mycampus" id="pdfGenerator">
					Télecharger la liste en PDF
				</a>
			</div>
			<div class="spinner-border spinner-border-sm text-info my-auto mr-3 d-none" role="status">
			</div>
			<div class="my-auto">
				<button type="button" data-toggle="modal" data-target="#newPackage" class="btn btn-sm btn-mycampus">
					Ajouter un colis
				</button>
			</div>
		</div>
	</div>

	<!-- EJS template for adding a row -->
	<div class="table-responsive">
		<table class="table table-hover table-sm">
			<thead class="text-light">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Email</th>
					<th scope="col">Expéditeur</th>
					<th scope="col">Localisation</th>
					<th scope="col">Date</th>
					<th scope="col">Commentaire</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<% packagesList.forEach(function(package){ %>
						<tr>
							<td class="align-middle"><strong><%=package.colis_id %></strong></td> <!--<th scope="row">-->
							<td class="align-middle"><%=package.last_name %></td>
							<td class="align-middle"><%=package.first_name %></td>
							<td class="align-middle"><%=package.email %></td>
							<td class="align-middle"><%=package.sender %></td>
							<td class="align-middle"><%=package.location %></td>
							<td class="align-middle"><%=package.shortDate %></td>
							<td class="align-middle"><%=package.comment %></td>
							<td>
								<a href="#" class="badge badge-mycampus mr-3 mb-1" data-id="<%=package.colis_id %>" data-email="<%=package.email %>" data-sender="<%=package.sender %>" data-location="<%=package.location %>" data-date="<%=package.shortDate %>" data-comment="<%=package.comment %>" data-toggle="modal" data-target="#modifyPackage">
									<i class="fas fa-pen text-light editLink"></i>
								</a>
								<a href="#" class="badge badge-mycampus" data-id="<%=package.colis_id %>" data-toggle="modal" data-target="#deletePackage">
									<i class="fas fa-trash-alt text-light deleteLink"></i>
								</a>
							</td>
						</tr>
				<%}); %>
			</tbody>
		</table>
	</div>
	
	<!-- Footer-->
	<nav>
		<div class="d-flex align-items-center mb-5">
			<div class="ml-2 float-left">
				<p class="my-auto"><span id="rows_displayed"></span> résultats sur <%= numberOfRows %></p>
			</div>
			<div class="mx-auto">
				<ul class="pagination my-auto" data-number_of_rows="<%=numberOfRows %>">
					<!--Here goes all the pages links-->
				</ul>
			</div>
			<div class="mr-auto">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" id="compact" value="compact" name="size" checked>
					<label class="form-check-label" for="compact">Compact</label>
				  </div>
				  <div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" id="large" value="large" name="size">
					<label class="form-check-label" for="large">Large</label>
				  </div>
			</div>
			<div class="my-auto">
				<select class="custom-select custom-select-sm" id="rows_per_page">
					<option value="5">5</option>
					<option selected value="10">10</option>
					<option value="20">20</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
		</div>
	</nav>

	<!-- Modal for adding new package-->
	<div class="modal fade" id="newPackage" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ajouter un colis</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="/packages" method="POST" id="add_package">
					<div class="modal-body">
						<div class="form-row">
							<div class="form-group col-lg-8">
								<label for="add_email">Adresse email</label>
								<input type="email" list="studentsData" class="form-control email" id="add_email" placeholder="prenom.nom@imt-atlantique.net" name="email" autocomplete="off" maxlength="60" required>
								<div class="invalid-feedback">
									L'email ne figure pas dans la base de données des étudiants de Brest.
								</div>
							</div>
							<div class="form-group col-lg-4">
								<label for="add_sender">Expéditeur</label>
								<input type="text" class="form-control" id="add_sender" name="sender" maxlength="30">
							</div>
						</div>
						<label class="">Localisation</label>
						<div class="form-row">
							<div class="form-group form-check col-lg-3 ml-4 mr-lg-n4 my-auto">
								<input class="form-check-input" type="radio" name="location" id="add_foyer" value="Foyer" checked>
								<label class="form-check-label" for="add_foyer">Foyer</label>
							</div>
							<div class=" form-group form-check col-lg-3 my-auto ml-4 ml-lg-0">
								<input class="form-check-input" type="radio" name="location" id="add_boite_aux_lettres" value="Boîte aux lettres">
								<label class="form-check-label" for="add_boite_aux_lettres">Boîte aux lettres</label>
							</div>
							<div class="form-group form-check col-lg-1 my-auto ml-4 ml-lg-0">
								<input class="form-check-input " type="radio" name="location" id="add_autre" value="autre" >
								<label class="form-check-label" for="add_autre">Autre</label>
							</div>
							<div class="col-lg-4 col-6 mt-lg-0 mt-1">
								<input type="text" class="form-control form-control-sm" id="add_autre_input" name="location" disabled="true" maxlength="50">
							</div>
						</div>
						<div class="form-group mt-3">
							<label for="add_date">Date</label>
							<input type="text" class="form-control col-md-6" id="add_date" name="date" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-inputmask-placeholder="jj/mm/aaaa">
						</div>
						<div class="form-group">
							<label for="add_comment">Commentaire</label>
							<textarea class="form-control" rows="3" id="add_comment" name="comment" maxlength="100"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-mycampus" data-dismiss="modal">Fermer</button>
						<input type="submit" class="btn btn-mycampus" value="Confirmer">
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal for modifying a package-->
	<div class="modal fade" id="modifyPackage" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modifier le colis</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="" method="POST">
					<div class="modal-body">
						<div class="form-row">
							<div class="form-group col-lg-8">
								<label for="modify_email">Adresse email</label>
								<input type="email" list="studentsData" class="form-control email" id="modify_email" placeholder="prenom.nom@imt-atlantique.net" name="email" autocomplete="off" maxlength="60" required>
							</div>
							<div class="form-group col-lg-4">
								<label for="modify_sender">Expéditeur</label>
								<input type="text" class="form-control" id="modify_sender" name="sender" maxlength="30">
							</div>
						</div>
						<label class="">Localisation</label>
						<div class="form-row">
							<div class="form-group form-check col-lg-3 ml-4 mr-lg-n4 my-auto">
								<input class="form-check-input" type="radio" name="location" id="modify_foyer" value="Foyer" checked>
								<label class="form-check-label" for="modify_foyer">Foyer</label>
							</div>
							<div class=" form-group form-check col-lg-3 my-auto ml-4 ml-lg-0">
								<input class="form-check-input" type="radio" name="location" id="modify_boite_aux_lettres" value="Boîte aux lettres">
								<label class="form-check-label" for="modify_boite_aux_lettres">Boîte aux lettres</label>
							</div>
							<div class="form-group form-check col-lg-1 my-auto ml-4 ml-lg-0">
								<input class="form-check-input " type="radio" name="location" id="modify_autre" value="autre">
								<label class="form-check-label" for="modify_autre">Autre</label>
							</div>
							<div class="col-lg-4 col-6 mt-lg-0 mt-1">
								<input type="text" class="form-control form-control-sm" id="modify_autre_input" name="location" disabled="true" maxlength="50">
							</div>
						</div>
						<div class="form-group mt-3">
							<label for="modify_date">Date</label>
							<input type="text" class="form-control col-md-6" id="modify_date" name="date" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-inputmask-placeholder="jj/mm/aaaa">
						</div>
						<div class="form-group">
							<label for="modify_comment">Commentaire</label>
							<textarea class="form-control" rows="3" id="modify_comment" name="comment" maxlength="100"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-mycampus" data-dismiss="modal">Fermer</button>
						<input type="submit" class="btn btn-mycampus" value="Confirmer">
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal for deleting a package-->
	<div class="modal fade" id="deletePackage" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Supprimer le colis</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="" method="POST">
					<div class="modal-body">
						<p>Êtes-vous sûrs de bien vouloir supprimer ce colis ?</p>
					</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mycampus" data-dismiss="modal">Fermer</button>
					<input type="submit" class="btn btn-mycampus" value="Supprimer">
				</div>
			</form>
			</div>
		</div>
	</div>
</div>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
	<span class="navbar-text p-0 mx-auto">
		MyCampus © 2018-2019
	</span>
</nav>

	<script src="/js/main.js"></script>
<% include partials/footer %>